/********** Base styles **********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    width: auto; 
    height:auto;
}

.menu h1{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/* Simple Responsive Framework. */
.row{
  width: 80vw; 
  height: auto; 
  margin: auto;
  display: flex;  
  justify-content: space-around;
  flex-wrap: wrap;     
}

h2{
    text-align: center;
    font-weight: 600;
    padding: 1px 5px;
    background: palevioletred;
    border: 5px #000000;
    border-top: 0;
    border-right: 0;
    margin-left: 190px;
}
.menu-beef h2{
    text-align: center;
    font-weight: 600;
    padding: 1px 5px;
    font: 20;
    color: white;
    background: red;
    border: 5px solid #000000;
    border-top: 0;
    border-right: 0;
    margin-left: 190px;
}
.menu-sushi h2{ 
    text-align: center;
    font-weight: 600;
    padding: 1px 5px;
    font: 20;
    background: rgb(219, 240, 104);
    border: 5px #000000;
    border-top: 0;
    border-right: 0;
    margin-left: 190px;
}

p{
    text-align: justify;
    font-size: 16px;
    font-weight: 250;
    line-height: 35px;
    padding: 10px;
}

.menu-chicken{
  position: relative;
  background:skyblue;
  flex:1 1 200px;
  margin: 20px;
  border: 5px solid black;
}
.menu-beef{
  position: relative;
  border: 5px solid black;
  background:skyblue;
  flex:1 1 200px;
  margin: 20px;
}
.menu-sushi{
  border: 5px solid black;
  background:skyblue;
  flex:1 1 200px;
  margin: 20px;
}

/********** Large devices only **********/
@media(min-width:991px){
    .menu{
        width: 100%;
    }
}
  
/********** Medium devices only **********/
@media (min-width: 767px) and (max-width: 991px) {
  
  .menu-chicken .menu-beef .menu-sushi{
        width: 50%;
        float: left;
    }
    .menu-sushi{
        width: 100%;
        float: left;
    }
}
@media(max-width:767px){
    .menu-chicken .menu-beef .menu-sushi{
        width: 100%;
        float: left;
      }

}